# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
Dungeon crawler/DungeonCrawler/DungeonCrawler.sdf
Dungeon crawler/DungeonCrawler/DungeonCrawler/Debug/DungeonCrawler.tlog/CL.read.1.tlog
Dungeon crawler/DungeonCrawler/DungeonCrawler/Debug/DungeonCrawler.tlog/CL.write.1.tlog
Dungeon crawler/DungeonCrawler/DungeonCrawler/Debug/DungeonCrawler.tlog/DungeonCrawler.lastbuildstate
Dungeon crawler/DungeonCrawler/DungeonCrawler/Debug/DungeonCrawler.tlog/cl.command.1.tlog
Dungeon crawler/DungeonCrawler/DungeonCrawler/Debug/DungeonCrawler.tlog/link.command.1.tlog
Dungeon crawler/DungeonCrawler/DungeonCrawler/Debug/DungeonCrawler.tlog/link.read.1.tlog
Dungeon crawler/DungeonCrawler/DungeonCrawler/Debug/DungeonCrawler.tlog/link.write.1.tlog
Dungeon crawler/DungeonCrawler/DungeonCrawler/Debug/vc120.idb
Dungeon crawler/DungeonCrawler/ipch/dungeoncrawler-930524e9/dungeoncrawler-180cc70c.ipch
Dungeon crawler/DungeonCrawler/DungeonCrawler.opensdf
